<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mybatis.Mapper.ProductMapper">
    <select id="findProductByOrderId" parameterType="String" resultType="Domain.Product">
        select * from product where id in (
            select ProductId from order_product where OrderId = #{orderId}
            )
    </select>
</mapper>